[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.0",
    "requests==2.25.1",
]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]
